.dark_mode {
    margin-left: 300px;
}

/* TOGGLE BACKGROUND */
.dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebee;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.3s;
}

/* SLIDER */
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    transition: 0.3s;
}

/* HIDE INPUT */
.dark_mode_input {
    display: none;
}

/* DARK BACKGROUND */
.dark_mode_input:checked + .dark_mode_label {
    background: #242424;
}

/* MOVE SLIDER RIGHT */
.dark_mode_input:checked + .dark_mode_label:after {
    left: 37px;
    background: linear-gradient(180deg, #777, #3a3a3a);
}

/* ICON COMMON */
.dark_mode_label img {
    position: absolute;
    width: 18px;
    top: 6px;
    transition: opacity 0.3s;
    z-index: 2;
}

/* SUN LEFT */
.dark_mode_label img.sun {
    left: 6px;
    opacity: 1;
}

/* MOON RIGHT */
.dark_mode_label img.moon {
    right: 6px;
    opacity: 0;
}

/* DARK MODE → switch icons */
.dark_mode_input:checked + .dark_mode_label img.sun {
    opacity: 0;
}

.dark_mode_input:checked + .dark_mode_label img.moon {
    opacity: 1;
}